<footer class="footer-dark bg-slate-blue">
    <div class="footer-bottom padding-60px-tb border-top border-color-white-transparent">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-6 sm-margin-10px-bottom xs-margin-15px-bottom">
                    <ul class="footer-horizontal-link d-flex flex-column flex-sm-row justify-content-sm-center justify-content-md-start">
                        <li>
                            <a href="/" class="footer-logo d-block">
                                <img src="assets/images/logo-white.png" data-at2x="assets/images/logo-white@2x.png" alt="">
                            </a>
                        </li>
                        <li><a href="/about.html">О компании</a></li>
                        <li><a href="/services.html">Услуги</a></li>
                        <li><a href="/contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 text-left text-sm-center text-md-right last-paragraph-no-margin">
                    <p>&copy; 2021 ООО Новые Технологии</p>
                </div>
            </div>
        </div>
    </div>
</footer>