<header>
    <!-- start navigation -->
    <nav class="navbar top-space navbar-expand-lg navbar-light bg-white header-light navbar-boxed fixed-top header-reverse-scroll">
        <div class="container-fluid nav-header-container">
            <div class="col-auto col-sm-6 col-lg-2 mr-auto pl-lg-0">
                <a class="navbar-brand" href="/">
                    <img src="assets/images/logo-neon-orange.png" data-at2x="assets/images/logo-white@2x.png" class="default-logo" alt="">
                    <img src="assets/images/logo-neon-orange.png" data-at2x="assets/images/logo-neon-orange@2x.png" class="alt-logo" alt="">
                    <img src="assets/images/logo-black.png" data-at2x="assets/images/logo-black@2x.png" class="mobile-logo" alt="">
                </a>
            </div>
            <div class="col-auto col-lg-8 menu-order px-lg-0">
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav alt-font">
                        <li class="nav-item">
                            <a href="/about.html" class="nav-link">О компании</a>
                        </li>
                        <li class="nav-item">
                            <a href="/services.html" class="nav-link">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a href="/partners.html" class="nav-link">Партнеры</a>
                        </li>
                        <li class="nav-item">
                            <a href="/work.html" class="nav-link">Вакансии</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contacts.html" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-auto col-lg-2 text-right pr-0">
                <a href="tel:+74014130444" class="d-none d-lg-block nav-bar-contact">
                    <i class="fas fa-phone"></i>
                    +7 (40141) 30444
                </a>
            </div>
        </div>
    </nav>
</header>