{% extends "layouts/main.html" %}

{% block title %}
    Контрактное производство электроники
{% endblock %}

{% block content %}
    <!-- start hero section -->
    <section class="p-0 mobile-height parallax" data-parallax-background-ratio="0.5" style="background-image: url('assets/images/hero-bg.jpg');">
        <div class="opacity-light bg-gradient-black-blue z-index-0"></div>
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-lg-7 col-md-10 d-flex flex-column justify-content-center text-center full-screen position-relative z-index-1 md-landscape-h-600px">
                    <h2 class="text-white alt-font font-weight-600 text-shadow-large sm-no-text-shadow">Контрактное производство электронной техники</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- end hero section -->
    <!-- start section -->
    <section class="big-section">
        <div class="container">
            <div class="row align-items-lg-center justify-content-center">
                <div class="col-12 col-lg-4 col-md-6 fancy-text-box-style-01 text-center text-md-left md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeIn">
                    <div class="fancy-text-box padding-3-half-rem-all md-padding-4-rem-all xs-padding-30px-all">
                        <div class="fancy-text-box-border-left border-color-sky-blue"></div>
                        <h2 class="alt-font fancy-text-content font-weight-600 text-extra-dark-gray d-inline-block align-middle letter-spacing-minus-5px">3</h2>
                        <div class="alt-font text-extra-medium text-extra-dark-gray font-weight-500 text-left d-inline-block align-middle w-140px mx-auto line-height-20px position-relative top-minus-4px">
                            Года на рынке производства электроники и бытовой техники
                        </div>
                        <div class="fancy-text-box-border-right border-color-sky-blue"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-10 text-center text-md-left wow animate__fadeIn" data-wow-delay="0.4s">
                    <p class="w-85 lg-w-100"> Три современных модульных производственных корпуса завода находятся в городе Черняховск, расположенном в центре Калининградской области. </p>
                    <a href="about.html" class="btn btn-link thin btn-extra-large text-extra-dark-gray">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section bg-light-gray wow animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 col-md-7 col-sm-8 text-center margin-6-rem-bottom wow animate__fadeIn">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px">
                        Почему с нами выгодно работать?
                    </h4>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
                <!-- start feature box item -->
                <div class="col col-sm-8 wow animate__fadeIn" data-wow-delay="0.4s">
                    <div class="feature-box text-left h-100 feature-box-dark-hover box-shadow-small border-radius-5px bg-white overflow-hidden padding-4-rem-all justify-content-md-start">
                        <div class="feature-box-icon">
                            <i class="icon-gears icon-large text-neon-orange margin-35px-bottom md-margin-15px-bottom"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-extra-medium">Техническое оснащение</span>
                            <p>Промышленный парк завода оснащён  всем необходимым современным оборудованием известных фирм BOSH, SIEMENS, PHILIPS, LG, KONIKA MINOLTA</p>
                        </div>
                        <div class="feature-box-overlay bg-sky-blue"></div>
                    </div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
                    <div class="feature-box text-left h-100 feature-box-dark-hover box-shadow-small border-radius-5px bg-white overflow-hidden padding-4-rem-all justify-content-md-start">
                        <div class="feature-box-icon">
                            <i class="line-icon-Truck icon-large text-neon-orange margin-35px-bottom md-margin-15px-bottom"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-extra-medium">Логистика</span>
                            <p>Расположение завода в центре Калининградской области дает огромные преимущества в построении логистических схем</p>
                        </div>
                        <div class="feature-box-overlay bg-sky-blue"></div>
                    </div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <div class="feature-box text-left h-100 feature-box-dark-hover box-shadow-small border-radius-5px bg-white overflow-hidden padding-4-rem-all justify-content-md-start">
                        <div class="feature-box-icon">
                            <i class="icon-briefcase icon-large text-neon-orange margin-35px-bottom md-margin-15px-bottom"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-extra-medium">Документация</span>
                            <p>Предприятие является членом Калининградской Торгово-Промышленной палаты. Это даёт преимущества в сокращении сроков оформления разрешительной документации на готовые товары</p>
                        </div>
                        <div class="feature-box-overlay bg-sky-blue"></div>
                    </div>
                </div>
                <!-- end feature box item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section wow animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center margin-seven-bottom">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px"> Процесс работы </h4>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin md-margin-50px-bottom wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5 d-none d-sm-block"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">1</span>
                            <img src="assets/images/work-process/1.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Контроль качества товара на всех этапах от производства комплектующих до поставки готовой продукции
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin md-margin-50px-bottom wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.2s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5 d-none d-lg-block"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">2</span>
                            <img src="assets/images/work-process/2.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Резервирование контейнеров у известных международных морских линий
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin xs-margin-50px-bottom wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.4s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5 d-none d-sm-block"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">3</span>
                            <img src="assets/images/work-process/3.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Доставка из Китая до завода в России
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">4</span>
                            <img src="assets/images/work-process/4.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Таможенное оформление в соответствии с Российским законодательством
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">5</span>
                            <img src="assets/images/work-process/5.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Входная инспекция товара
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">6</span>
                            <img src="assets/images/work-process/6.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Предоставление детальных отчетов на английском языке с фотографиями
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">7</span>
                            <img src="assets/images/work-process/7.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Производство товара или его ремонт, если необходимо
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn margin-60px-bottom sm-margin-40px-bottom" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">8</span>
                            <img src="assets/images/work-process/8.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Доставка готовой продукции на склад в Москве или в любую точку России
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">9</span>
                            <img src="assets/images/work-process/1.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Подготовка к продаже в России – сертификаты, разрешения и т.д.
                    </span>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col text-center process-step-style-01 last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.6s">
                    <div class="process-step-icon-box margin-40px-bottom sm-margin-30px-bottom">
                        <span class="process-step-bfr bg-dark-gray w-80px h-1px opacity-5"></span>
                        <div class="process-step-icon bg-sky-blue position-relative">
                            <span class="badge padding-10px-all bg-gradient-magenta-orange-2 text-white position-absolute"
                                    style="top: 0; left: 0; transform: translate(-50%, -50%);">10</span>
                            <img src="assets/images/work-process/9.png" alt="" />
                        </div>
                    </div>
                    <span class="alt-font d-block font-weight-500 text-extra-dark-gray margin-10px-bottom text-uppercase">
                        Заводская гарантия 1 год, 5 лет постгарантийного обслуживания
                    </span>
                </div>
                <!-- end process step item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section bg-light-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center margin-seven-bottom">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px">Наши услуги</h4>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <!-- start slider item -->
                <div class="padding-15px-all">
                    <div class="h-100 bg-white box-shadow position-relative">
                        <img src="assets/images/service-assembly-line.jpg" alt="">
                        <div class="padding-4-half-rem-lr padding-3-half-rem-tb feature-box feature-box-left-icon-middle last-paragraph-no-margin lg-padding-2-half-rem-lr sm-padding-4-rem-lr xs-padding-2-rem-all">
                            <div class="feature-box-icon margin-40px-right lg-margin-35px-right xs-margin-15px-right">
                                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">01</h4>
                            </div>
                            <div class="feature-box-content padding-40px-left border-left border-width-2px border-color-neon-orange lg-padding-35px-left xs-padding-15px-left">
                                <span class="text-extra-dark-gray alt-font font-weight-500 d-block text-extra-medium margin-5px-bottom">Производство электронной техники</span>
                                <p>Контрактное производство электронной техники любой сложности и любого функционального назначения</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="padding-15px-all">
                    <div class="h-100 bg-white box-shadow position-relative">
                        <img src="assets/images/service-plastic-molding.jpg" alt="">
                        <div class="padding-4-half-rem-lr padding-3-half-rem-tb feature-box feature-box-left-icon-middle last-paragraph-no-margin lg-padding-2-half-rem-lr sm-padding-4-rem-lr xs-padding-2-rem-all">
                            <div class="feature-box-icon margin-40px-right lg-margin-35px-right xs-margin-15px-right">
                                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">02</h4>
                            </div>
                            <div class="feature-box-content padding-40px-left border-left border-width-2px border-color-neon-orange lg-padding-35px-left xs-padding-15px-left">
                                <span class="text-extra-dark-gray alt-font font-weight-500 d-block text-extra-medium margin-5px-bottom">Производство изделий из пластмасс. Покраска и маркировка</span>
                                <p>Литье изделий из пластмасс под высоким давлением на пресс-форме заказчика.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="padding-15px-all">
                    <div class="h-100 bg-white box-shadow position-relative">
                        <img src="assets/images/service-logistics.jpg" alt="">
                        <div class="padding-4-half-rem-lr padding-3-half-rem-tb feature-box feature-box-left-icon-middle last-paragraph-no-margin lg-padding-2-half-rem-lr sm-padding-4-rem-lr xs-padding-2-rem-all">
                            <div class="feature-box-icon margin-40px-right lg-margin-35px-right xs-margin-15px-right">
                                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">03</h4>
                            </div>
                            <div class="feature-box-content padding-40px-left border-left border-width-2px border-color-neon-orange lg-padding-35px-left xs-padding-15px-left">
                                <span class="text-extra-dark-gray alt-font font-weight-500 d-block text-extra-medium margin-5px-bottom">Логистика</span>
                                <p>Гарантия быстрой и качественной доставки грузов к месту назначения</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="padding-15px-all">
                    <div class="h-100 bg-white box-shadow position-relative">
                        <img src="assets/images/service-tv-repair.jpg" alt="">
                        <div class="padding-4-half-rem-lr padding-3-half-rem-tb feature-box feature-box-left-icon-middle last-paragraph-no-margin lg-padding-2-half-rem-lr sm-padding-4-rem-lr xs-padding-2-rem-all">
                            <div class="feature-box-icon margin-40px-right lg-margin-35px-right xs-margin-15px-right">
                                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">04</h4>
                            </div>
                            <div class="feature-box-content padding-40px-left border-left border-width-2px border-color-neon-orange lg-padding-35px-left xs-padding-15px-left">
                                <span class="text-extra-dark-gray alt-font font-weight-500 d-block text-extra-medium margin-5px-bottom">Заводская гарантия, сервис</span>
                                <p>Гарантийное и 5 летнее постгарантийное обслуживание</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="padding-100px-tb md-padding-75px-tb sm-padding-50px-tb wow animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center margin-six-bottom">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px">Наши партнеры</h4>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 client-logo-style-01 align-items-center">
                <!-- start client logo item -->
                <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/polar.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/polarline.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/telefunken.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/holleberg.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/china/tcl.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/bbk.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center md-margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/hyndai.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col text-center md-margin-30px-bottom sm-margin-15px-bottom">
                    <div class="client-box padding-15px-all border border-color-dark-gray">
                        <a href="/partners.html"><img class="client-box-image" src="assets/images/partners/rus/starwind.png" alt="" /></a>
                    </div>
                </div>
                <!-- end client logo item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="row justify-content-center wow animate__fadeIn">
                <div class="col-12 col-lg-5 col-sm-9 text-center text-lg-left md-margin-40px-bottom sm-margin-15px-bottom xs-margin-20px-bottom">
                    <h5 class="alt-font text-extra-dark-gray font-weight-600 w-95 lg-w-100">"Новые Технологии" – это современное высокотехнологичное и высокопроизводительное оборудование</h5>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1 wow animate__fadeIn" data-wow-duration="0.3">
                    <div class="row row-cols-1 row-cols-sm-2">
                        <!-- start feature box item -->
                        <div class="col text-center text-sm-left xs-margin-30px-bottom">
                            <div class="last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray xs-margin-5px-bottom">3 сборочных линии</span>
                                <p class="w-85 lg-w-100 xs-w-75 mx-auto mx-sm-0">для производства LCD TV размером диагонали от 15 до 75 дюймов</p>
                            </div>
                        </div>
                        <!-- end feature box item -->
                        <!-- start feature box item -->
                        <div class="col text-center text-sm-left">
                            <div class="last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray xs-margin-5px-bottom">Современное оборудование</span>
                                <p class="w-85 lg-w-100 xs-w-75 mx-auto mx-sm-0">Промышленный парк завода оснащён оборудованием известных фирм: BOSH, SIEMENS, PHILIPS, LG, KONIKA MINOLTA</p>
                            </div>
                        </div>
                        <!-- end feature box item -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 margin-8-rem-top md-margin-6-rem-top">
                    <div class="outside-box-right">
                        <!-- start slider -->
                        <div class="swiper-container white-move" data-slider-options='{"loop": true, "slidesPerView": 1, "spaceBetween": 30, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } } }'>
                            <div class="swiper-wrapper">
                                <!-- start interactive banner item -->
                                <div class="swiper-slide interactive-banners-style-07">
                                    <div class="interactive-banners-box bg-dark-slate-blue">
                                        <div class="interactive-banners-box-image">
                                            <img src="assets/images/factory/factory-1.jpg" alt=""/>
                                            <div class="overlay-bg bg-gradient-midium-gray-transparent opacity-light"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end interactive banner item -->
                                <!-- start interactive banner item -->
                                <div class="swiper-slide interactive-banners-style-07">
                                    <div class="interactive-banners-box bg-dark-slate-blue">
                                        <div class="interactive-banners-box-image">
                                            <img src="assets/images/factory/factory-2.jpg" alt=""/>
                                            <div class="overlay-bg bg-gradient-midium-gray-transparent opacity-light"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end interactive banner item -->
                                <!-- start interactive banner item -->
                                <div class="swiper-slide interactive-banners-style-07">
                                    <div class="interactive-banners-box bg-dark-slate-blue">
                                        <div class="interactive-banners-box-image">
                                            <img src="assets/images/factory/factory-3.jpg" alt=""/>
                                            <div class="overlay-bg bg-gradient-midium-gray-transparent opacity-light"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end interactive banner item -->
                                <!-- start interactive banner item -->
                                <div class="swiper-slide interactive-banners-style-07">
                                    <div class="interactive-banners-box bg-dark-slate-blue">
                                        <div class="interactive-banners-box-image">
                                            <img src="assets/images/factory/factory-4.jpg" alt=""/>
                                            <div class="overlay-bg bg-gradient-midium-gray-transparent opacity-light"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end interactive banner item -->
                                <!-- start interactive banner item -->
                                <div class="swiper-slide interactive-banners-style-07">
                                    <div class="interactive-banners-box bg-dark-slate-blue">
                                        <div class="interactive-banners-box-image">
                                            <img src="assets/images/factory/factory-5.jpg" alt=""/>
                                            <div class="overlay-bg bg-gradient-midium-gray-transparent opacity-light"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end interactive banner item -->
                            </div>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="fix-background padding-100px-tb md-padding-75px-tb sm-padding-50px-tb" style="background-image:url('assets/images/cta-bg.jpg');">
        <div class="opacity-medium bg-dark-slate-blue"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-xl-7 col-md-8 col-sm-10 text-center text-md-left sm-margin-30px-bottom">
                    <h4 class="alt-font font-weight-600 text-white mb-0">Отправьте свою заявку по электронной почте или свяжитесь с нами по телефону</h4>
                </div>
                <div class="col-12 col-xl-5 col-md-4 text-center text-md-right">
                    <a href="/contacts.html" class="btn btn-large btn-gradient-magenta-orange-2">Связаться</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
{% endblock %}