{% extends "layouts/main.html" %}

{% block title %}
    Партнеры
{% endblock %}

{% block header %}
    {% include "partials/header-2.html" %}
{% endblock %}

{% block content %}
    <!-- start page title -->
    <section class="half-section parallax" data-parallax-background-ratio="0.5" style="background-image:url('assets/images/partners-bg.png');">
        <div class="container">
            <div class="row align-items-stretch justify-content-center extra-small-screen">
                <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                    <h1 class="alt-font text-gradient-magenta-orange-2 margin-15px-bottom d-inline-block">ООО Новые Технологии</h1>
                    <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom text-uppercase">надёжный партнёр</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- start filter navigation -->
                    <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                        <li class="nav active"><a data-filter="*" href="#">Все</a></li>
                        <li class="nav"><a data-filter=".rus" href="#">Русские</a></li>
                        <li class="nav"><a data-filter=".china" href="#">Китайские</a></li>
                        <li class="nav"><a data-filter=".logistics" href="#">Логистика</a></li>
                        <li class="nav"><a data-filter=".banks" href="#">Банки</a></li>
                        <li class="nav"><a data-filter=".trading" href="#">Торговые площадки</a></li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 filter-content">
                    <ul class="portfolio-boxed portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                        <li class="grid-sizer"></li>
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/polar.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/polarline.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/holleberg.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/bbk.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/hyndai.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/telefunken.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/samtron.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/watson.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/nesons.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/supra.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/hamber.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/doffler.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/lumus.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/dexp.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/straus.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item rus wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/rus/starwind.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/tcl.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/midea.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/konka.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/haier.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/shinco.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/asano.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/express-luck.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/jpe.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/galanz.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item china wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/china/changhong.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logistics wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/logistic/maersk.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logistics wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/logistic/cma-cgm.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logistics wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/logistic/msc.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item banks wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/banks/sberbank.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item banks wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/banks/alfa-bank.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item banks wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/banks/vtb.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/aliexpress.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/tmall.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/auchan.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/beru.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/mvideo.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/eldorado.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item trading wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="portfolio-box">
                                <div class="portfolio-image">
                                    <img src="assets/images/partners/trading/merlion.png" alt="" />
                                </div>
                            </div>
                        </li>
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
{% endblock %}