<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Новые Технологии | {% block title %}{% endblock %}</title>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="author" content="RomEngRus">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
            <meta name="description" content="Новые Технологии - завод по производству электронной техники">
            <!-- favicon icon -->
            <link rel="shortcut icon" href="assets/images/favicon.png">
            <link rel="apple-touch-icon" href="assets/images/apple-touch-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
            <!-- style sheets and font icons  -->
            <link rel="stylesheet" type="text/css" href="assets/css/font-icons.min.css">
            <link rel="stylesheet" type="text/css" href="assets/css/theme-vendors.min.css">
            <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
            <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
        {% endblock %}
    </head>
    <body data-mobile-nav-style="classic">
        {% block header %}
            {% include "partials/header-1.html" %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock %}

        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>

        {% block js %}
            <!-- end scroll to top -->
            <!-- javascript -->
            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
            <script type="text/javascript" src="assets/js/theme-vendors.min.js"></script>
            <script type="text/javascript" src="assets/js/main.js"></script>
        {% endblock %}
    </body>
</html>
